body {
  font-family: sans-serif;
  user-select: none;
  font-size: 48px;
  text-align: center;
  margin: 0;
  background: #6ae6e9;
}

.hamburger {
  z-index: 2;
  outline: none;
  position: fixed;
  top: 40px;
  left: 40px;
}

#overlay {
  transition: left .5s;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: #e751a0;
  height: 200%;
}

#overlay.hidden {
  left: -100vw;
  transition: left .5s;
}

h1 {
  color: #6ae6e9;
  margin-top: 5vh;
  text-transform: uppercase;
}

#overlay>button {
  color: #e751a0;
  outline: none;
  font-weight: bold;
  margin-top: 5vh;
  height: 150px;
  width: 80%;
  font-size: 1em;
  border-radius: 50px;
  background: #6ae6e9;
}

#overlay>button:hover {
  background: #fff;
}

#startPvP {
  color: #6ae6e9;
  margin-top: 25px;
  background: #e751a0;
  border: 5px solid #6ae6e9;
  border-radius: 20px;
  position: relative;
  height: 150px;
  width: 40vw;
  font-size: 1.5em;
  transition: 0s !important;
}

#startPvP:hover {
  transform: scale(1.2);
  background: #6ae6e9;
  color: #e751a0;
}

#namesForm {
  font-weight: bold;
  color: #6ae6e9;
  margin: 0px 50px 0 50px;
  border: 5px solid #6ae6e9;
  border-radius: 50px;
  height: 0;
  opacity: 0;
  transition: opacity 0.5s, height 1s, margin 1s, padding 1s;
}

#namesForm>* {
  height: 0;
  transition: 1s;
}

#namesForm.active {
  height: 500px;
  margin-top: 50px;
  padding: 50px;
  transition: opacity 2s, height 1s, margin 1s, padding 1s;
  opacity: 1;
  margin-bottom: 100px;
}

#namesForm.active>* {
  height: 100px;
  transition: 1s;
  opacity: 1;
}

#namesForm>p {
  margin: 0 0 5px 0;
}

input {
  background-color: #e751a0;
  color: #6ae6e9;
  outline: none;
  border-radius: 50px;
  border: none;
  border-bottom: 2px solid #6ae6e9;
  margin: auto;
  margin-bottom: 30px;
  line-height: 1em;
  font-size: 1em;
  height: 100px;
  vertical-align: bottom !important;
  line-height: 100px;
  text-align: center;
}

.container {
  margin: auto;
  margin-top: 30%;
  margin-bottom: 15%;
  font-size: 0;
  padding: 0;
  width: 500px;
}

.cell {
  transition: 0.5s;
  display: inline-block;
  width: 160px;
  height: 160px;
  border: 5px solid black;
  background-size: contain;
}

.cell:hover {
  transform: scale(1.05);
}

.player {
  border-radius: 100px;
  border: 5px solid white;
  position: absolute;
  top: 1050px;
  display: inline-block;
  margin: auto;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 36px;
  height: 200px;
}

#player1 {
  left: 5vw;
}

#player2 {
  right: 5vw;
}

.x {
  background-image: url("xMark.png");
}

.o {
  background-image: url("circle.png");
}

.x, .o {
  animation-name: shrink;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}

@keyframes shrink {
  0% {
    border-color: transparent;
    transform: scale(1.7);
  }

  99% {
    border-color: transparent;
    transform: scale(1);
  }

  100% {
    border-color: #000;
  }
}

#top_left {
  border-top: none;
  border-left: none;
}

#top_mid {
  border-top: none;
}

#top_right {
  border-top: none;
  border-right: none;
}

#left {
  border-left: none;
}

#right {
  border-right: none;
}

#bottom_left {
  border-bottom: none;
  border-left: none;
}

#bottom_mid {
  border-bottom: none;
}

#bottom_right {
  border-bottom: none;
  border-right: none;
}

#resetContainer {
  position: relative;
}

#resetBoardButton {
  outline: none;
  font-size: 0.5em;
  text-transform: uppercase;
  height: 75px;
  width: 200px;
  border-radius: 30px;
  background-color: #fff;
}

#resetBoardButton.clickedReset {
  transform: scale(1.2);
  background: rgb(106, 230, 233);
  background: linear-gradient(90deg, rgba(106, 230, 233, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(254, 249, 252, 1) 60%, rgba(231, 81, 160, 1) 100%);
}

#announcer {
  display: none;
  position: relative;
  bottom: 50px;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 80px;
  height: 80px;
  width: 70vw;
  background: rgba(0, 0, 0, 0.2);
  animation-name: mover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#announcer>button {
  font-weight: bold;
  position: relative;
  bottom: 50px;
  height: 60px;
  color: #1dc236;
  text-transform: uppercase;
  width: 200px;
  font-size: 0.5em;
  outline: none;
  border-radius: 50px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  background: #fff;
  border: 2px solid #1dc236;
  transition: 0.2s;
}

#announcer>button:hover {
  transform: scale(1.5);
}

@keyframes mover {
  from {
    left: 0px;
  }

  to {
    left: 15vw;
  }
}

@media only screen and (min-width: 1000px) {
  .clear {
    bottom: 5vh;
  }

  .container {
    display: inline-block;
    margin-top: 10%;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    overflow: hidden;
    background: rgb(106, 230, 233);
    background: linear-gradient(90deg, rgba(106, 230, 233, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(254, 249, 252, 1) 60%, rgba(231, 81, 160, 1) 100%);
  }

  .container {
    display: inline-block;
    margin-top: 10%;
  }

  .player {
    display: inline-block;
    position: absolute;
    top: 30vh;
    width: 300px;
  }

  #announcer {
    bottom: 30vh;
  }

  #player2 {
    right: 5vw;
  }

  #player1 {
    left: 5vw;
  }

  #overlay {
    padding-top: 5%;
  }

  #overlay>* {
    width: 60% !important;
    margin: 0 !important;
    margin: auto !important;
    transform: scale(0.5);
  }

  #namesForm {
    margin-top: -40px !important;
  }

  #resetContainer {
    bottom: 15vh;
  }
}
